<!doctype html>
<html>
    <head>
        <title>Test Results</title> 
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/js/client.js"></script>
        <script type="text/javascript" src="/js/robot.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                
            });
        </script>
    </head>
    <body>
        <h1>Test Results Page</h1>
        <h2><%= title %></h2>
    </body>
</html>